{% extends 'todo/base.html' %}

{% block content %}
    <h1> List of tasks </h1>
    <a href="{% url 'landing' %}">Home</a>

    <ul>
    {% for task in tasks %}
    <li>
        <form action="{% url 'task-completed' task.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="complete task"/>
        </form>
        <input type="checkbox" {% if task.is_completed %} checked {% endif %}/>
        {{ task.owner.username|title }}: {{ task.state }} - {{ task.title }}
        <form action={% url 'delete-task' task.pk %} action="POST">
            <input type="submit" value="delete"/>
        </form>
    </li>
    {% endfor %}
    </ul>

    <a href="{% url 'add-task' %}">Add Task</a>
{% endblock content %}
